<section class="todoapp">
  <header class="header">
    <h1>
      todos
    </h1>
    <input class="new-todo" placeholder="What needs to be done?" autofocus 
      [(ngModel)]="newText" 
      (keyup.enter)="addTodo()">
  </header>
  
  <section class="main" *ngIf="getByCompletion(null).length > 0">
    <input #toggleall class="toggle-all" type="checkbox" *ngIf="getByCompletion(null).length > 0" 
      (click)="setAllTo(toggleall.checked)">

    <label for="toggle-all">
      Mark all as complete
    </label>
    <ul class="todo-list">
      <li *ngFor="#todo of getByCompletion(getCompletionFilter()) " [class.completed]="todo.completed" [class.editing]="todo.editing">
        <div class="view">
          <input class="toggle" type="checkbox" [checked]="todo.completed" 
            (click)="toggleCompletion(todo)" >    
          
          <label (dblclick)="editTodo(todo)">
            {{todo.title}}
          </label>
          <button class="destroy" (click)="remove(todo)"></button>
        </div>
        <input #editedtodo class="edit" *ngIf="todo.editing" 
          [value]="todo.title"  
          (blur)="stopEditing(todo, editedtodo.value)" 
          (keyup.enter)="updateEditing(todo, editedtodo.value)" 
          (keyup.escape)="cancelEditing(todo)">
      </li>
    </ul>
  </section>
  
  <footer class="footer" *ngIf="getByCompletion(null).length > 0">
    <span class="todo-count">
      {{getByCompletion(false).length}} item(s) left
    </span>
    <ul class="filters">
      <li>
        <a href="#/" [class.selected]="getCompletionFilter()==null">All</a>
      </li>
      <li>
        <a href="#/active" [class.selected]="getCompletionFilter()==false">Active</a>
      </li>
      <li>
        <a href="#/completed" [class.selected]="getCompletionFilter()==true">Completed</a>
      </li>
    </ul>
    <button class="clear-completed" *ngIf="getByCompletion(true).length > 0" (click)="removeCompleted()">
      Clear completed
    </button>
  </footer>
</section>

<footer class="info">
  <p>Double-click to edit a todo</p>
  <p>Created by</p>
  <p>Refactored by</p>
  <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>